
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <title>Department Form</title>
</head>
<body>

        <div id="room-form">
                <a href="{% url 'home' %}"> HOME </a>
                <form method="POST" hx-post=" {% url 'room_form' %}" hx-target="#room-form" hx-swap="outerHTML">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit"> Save Room </button>
                        {% if saved %}
                        <p style="color: green;">Room saved successfully!</p>
                        {% endif %}
                </form>
        </div>
        
                
     
        
        
</body>
</html>








