<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Schedule</title>
</head>
<body>

    <table>
        <tr>
            <th>Room</th>
            <th>Section</th>
            <th>Subject</th>
            <th>Timeslot</th>
            <th>Days</th>
        </tr>
        {% for session in schedule %}
        <tr>
            <td>{{ session.room }}</td>
            <td>{{ session.section }}</td>
            <td>{{ session.subject }}</td>
            <td>{{ session.timeslot }}</td>
            <td>{{ session.days }}</td>
        </tr>
        {% endfor %}
    </table>



</body>
</html>


